<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Обучение_алтраника.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Обучение_алтраника.Properties.Settings.diplomConnectionString"
            connectionString="Data Source=LAPTOP-J0AL0OMK\SQLEXPRESS;Initial Catalog=diplom;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Обучение_алтраника.Properties.Settings>
            <setting name="Names" serializeAs="String">
                <value />
            </setting>
            <setting name="Surnames" serializeAs="String">
                <value />
            </setting>
            <setting name="Lastnames" serializeAs="String">
                <value />
            </setting>
            <setting name="Mails" serializeAs="String">
                <value />
            </setting>
            <setting name="Numbers" serializeAs="String">
                <value />
            </setting>
            <setting name="Count" serializeAs="String">
                <value>0</value>
            </setting>
        </Обучение_алтраника.Properties.Settings>
    </userSettings>
</configuration>